<app-header />

<aside id="logo-sidebar"
   class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
   aria-label="Sidebar">
   <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
      <ul class="space-y-2 font-medium">

         <li>
            <button data-modal-target="default-modal" data-modal-toggle="default-modal"
               class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
               Add Workspace
            </button>
         </li>

         @for (workspace of workspaceService.$readWriteWorkspaces(); track workspace) {
            @if (!workspace.isDefault) {
               <li>
                  <a [routerLink]="['/w', workspace._id]"
                     class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                     <span class="ms-3">{{ workspace.name }}</span>
                     <a [attr.data-workspaceId]="workspace._id" (click)="handleDeleteWorkspace($event)" class="text-sm ml-auto hover:underline">Delete</a>
                  </a>
               </li>
            }
         }
      </ul>
   </div>
</aside>

<div class="p-4 sm:ml-64 mt-14">

   <div class="flex justify-between mb-3">
      <app-add-todo [workspaceId]="workspaceId()" />

      <!-- Add member should only be valid for non-default (private) workspaces -->
      @if (!$workspace()?.isDefault) {
         <app-add-member [workspaceId]="workspaceId()" [workspace]="$workspace()" />
      }
   </div>

   @if ($workspace()?.todos) {
      <ul
         class="text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
         @for (todo of $workspace()?.todos; track todo; let last = $last, first = $first) {
            <app-todo [workspaceId]="workspaceId()" [todo]="todo" [first]="first" [last]="last" />
         }
      </ul>
   }

</div>
<app-add-workspace />