/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, app-root, app-homepage, app-no-found {
    height: 100%;
    display: block;
}

app-homepage, app-workspace, app-no-found {
    display: flex;
    flex-direction: column;
}